$theme-blue: #00456a;
$theme-yellow: #fec429;
$theme-green: #aac016;
$theme-orange: #f05033;
$theme-magenta: #b12278;
$theme-teal: #0c7f84;
$theme-pink: #ea006d;
$theme-gray: #555555;
$theme-silver: #eee;

$theme-warning: red;
$theme-success: green;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $theme-gray;
$color__background-button: $theme-magenta;
$color__background-pre: lighten($theme-gray, 50%);
$color__background-ins: transparent;
$color__background-button-hover: $theme-orange;
$color__background-button-focus: $theme-orange;

$color__text-main: $theme-gray;
$color__text-screen: $theme-teal;
$color__text-input: $theme-blue;
$color__text-input-focus: $theme-blue;

$color__link: $theme-blue;
$color__link-visited: $theme-blue;
$color__link-hover: $theme-orange;
$color__link-button-hover: white;
$color__link-button-focus: $color__link-button-hover;

$color__border-input: $theme-blue;
$color__border-abbr: $theme-gray;
