button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 1.5em;
	background: $color__background-button;
	color: white;
	line-height: 1;
	padding: .75em 1em;
	transition: all 0.3s ease;

	&:hover { background-color: $color__background-button-hover; }

	&:active,
	&:focus {
		background-color: $color__background-button-focus;
	}

	&.hollow {
		background: transparent;
		border: 2px solid $color__background-button;

		&:hover {
			border-color: $color__background-button-hover;
			background-color: $color__background-button-hover;
		}

		&:active,
		&:focus {
			border-color: $color__background-button-focus;
			background-color: $color__background-button-focus;
		}


	}
}
