button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 1.5em;
	background: $color__background-button;
	color: white;
	line-height: 1;
	padding: .75em 1em;
	@extend %transition;
	font-family: $font__headings;

	&:hover {
		background-color: $color__background-button-hover;
		color: $color__link-button-hover;
	}

	&:active,
	&:focus {
		background-color: $color__background-button-focus;
		color: $color__link-button-focus;
	}

	&.hollow {
		background: transparent;
		border: 2px solid $color__background-button;
		color: $color__background-button;

		&:hover, &:focus, &:active { color: white; }

		&:hover {
			border-color: $color__background-button-hover;
			background-color: $color__background-button-hover;
		}

		&:active,
		&:focus {
			border-color: $color__background-button-focus;
			background-color: $color__background-button-focus;
		}


	}
}

a.button { text-decoration: none; }
