.main-navigation {
	display: block;
	width: 100%;
	font-family: $font__headings;

	.container { padding: 0;}

	&#top-navigation { width: auto; }
	&#site-navigation {
		background-color: $theme-blue;

		.menu > li {
			&:hover { background-color: $theme-orange; }

			> a { color: white; }

			&:hover > a,
			> a:focus,
			> a:active { color: $theme-blue; }
		}
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		justify-content: center;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			text-align: left;
			background-color: white;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				width: 100%;
				min-width: 200px;
			}

			a {
				color: $theme-blue;

				&:hover,
				&:active,
				&:focus {
					background-color: $theme-yellow;
				}
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 1em 2em;

		.nav-menu > li > & { color: white; }
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

#top-navigation {
	li {
		&:hover, a:hover, a:focus, a:active { color: white; }
	}

	a {
		color: $theme-green;

		&[href*="register"] {
			@extend .button;
			@extend .hollow;
			color: $theme-green;
			border-color: $theme-green;

			&:hover,
			&:focus,
			&:active {
				border-color: $theme-green;
				background-color: $theme-green;
			}
		}
	}

	.icon a {
		padding-top: 0;
		padding-bottom: 0;
	}

	.dashicons {
		font-size: 2em;
		width: 1em;
		height: 1em;
		margin: 0.15em 0.25em;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
