.container.shortcode.hotel {
	max-width: 1200px;
}

.post-type-archive-hotel,
.shortcode.hotel {
	article {
		max-width: initial;
		padding: 1em;
	}

	.hotel {
		@include large { width: 25%; }
	}

	.thumbnail img { border-radius: 50%; }
}

.post-type-archive-hotel .content,
.shortcode.hotel {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
