.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.carousel {
	&.shortcode {
		margin-right: 2em;
		margin-left: 2em;

		@media screen and (min-width: 37.5em) {
			margin-right: 3em;
			margin-left: 3em;
		}
	}

	.ghc-carousel.item {
		padding: 1em;
		text-align: center;

		img {
			display: block;
			margin: 0 auto;

			&[src*="svg"] {
				width: 100%;
				height: auto;;
			}
		}
	}

	.slick-arrow.dashicons {
		font-size: 2em;
		width: 1em;
		height: 1em;

		@media screen and (min-width: 37.5em) {
			font-size: 4em;
		}

		&:before { color: $theme-blue; }

		&.prev,
		&.next {
			position: absolute;
			display: block;
			cursor: pointer;
			top: 50%;
			transform: translateY(-50%);
			padding: 0;
			border: none;
		}

		&.prev { left:  -1em; }
		&.next { right: -1em; }
	}
}

.ghc-map {
	min-height: 300px;
}

.ghc-map-container {
	.container {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
	}

	.ghc-map, .map-locations-info {
		width: 100%;

		@media screen and (min-width: 37.5em) { width: 50%; }
	}

	.map-info {
		background-repeat: no-repeat;
		background-position: center 1em;
		background-size: 3em;
		padding: 4em 1em 1em;

		@media screen and (min-width: 37.5em) {
			background-position: 0.5em 1em;
			padding: 1em 1em 1em 4em;
		}

		@media screen and (max-width: 37.5em) {
			h1, .meta, address { text-align: center; }
		}

		h1 {
			margin: 0;

			+ .meta { margin-top: 0; }
		}

		.wpcf7 {
			p { margin-bottom: 0; }

			input[type="submit"] { margin-top: 1em; }
		}
	}

	.home & + .container { background-color: $theme-silver; }
}

.testimonials.shortcode {
	background-position: center;
	background-size: cover;

	.overlay {
		@include overlay($theme-orange);

		.home & { @include overlay($theme-teal); }
	}

	.container { padding: 0; }

	.testimonial {
		padding: 4em 2em;
		color: white;
		text-align: center;

		&:only-of-type { margin-bottom: 0; }

		> * {
			display: block;
			margin-right: auto;
			margin-left: auto;
			max-width: 800px;
		}

		h3 { display: none; }

		p:not(.author) {
			font-size: 1.625em;
			font-family: $font__headings;
		}

		.author {
			font-weight: 300;
			font-style: italic;
		}
	}
}

.home {
	.tagline-stripe {
		margin: 0;
		list-style-type: none;

		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		@media screen and (min-width: 37.5em) {
			li { width: 33%; }
		}

		li {
			position: relative;
			padding: 2em 1em;

			&:hover {
				.dashicons {
					font-size: 2em;
					margin-top: -0.5em;
				}

				.description {
					opacity: 1;
					margin-bottom: auto;
				}
			}
		}

		span {
			display: block;
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			max-width: 300px;
		}

		.dashicons {
			font-size: 4em;
			width: 1em;
			height: 1em;
			@extend %transition;
		}

		.description {
			margin-top: 1em;
			margin-bottom: 2em;
			left: calc(50% - 150px);
			position: absolute;
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}
}

.home-cta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 400px;
	color: white;
	background-position: center;
	background-size: cover;

	.button {
		background-color: $theme-yellow;

		&:hover, &:focus, &:active {
			background-color: $theme-magenta;
			color: white;
		}
	}
}
