.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.archive {
	.page-header,
	article,
	.pages {
		@include center-block;
	}
}

.error-404 { @include center-block; }

.pages { text-align: center; }

.single-special_event .hentry.container,
.single-special_event .sponsor-container,
.page-template-default .content-area:not(.full-width) {
	@include center-block;
}

.page-header {
	text-align: center;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-numbers {
	padding: 0.125em;

	&.current {
		color: $theme-orange;
		text-decoration: underline;
	}

	&.prev { margin-right: 0.5em; }
	&.next { margin-left: 0.5em; }
}
