.speaker,
.type-speaker {
	&.wp-post-image,
	.thumbnail img {
		border-radius: 50%;
	}

	.entry-title {
		margin-bottom: 0; // Since this is followed by convention icons and they have the same margin above and below.
	}

	&[data-slick*="centerMode"] {
		.slick-slide:not(.slick-current) {
			.speaker-info, .excerpt { display: none; }
		}
	}
}

.single-speaker,
.archive.post-type-archive-speaker {
	article { @include center-block; }

	.thumbnail img {
		display: block;
		margin: 0 auto;
	}

	.entry-header,
	.entry-meta,
	.conventions {
		text-align: center;
	}
}
