.container {
	width: 100%;
	max-width: 1920px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@media screen and (max-width: 1920px) {
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

.theme {
	&.bg {
		* { color: white; }

		&.blue { background-color: $theme-blue; }
		&.yellow { background-color: $theme-yellow; * { color: $theme-blue; } }
		&.green { background-color: $theme-green; }
		&.orange { background-color: $theme-orange; }
		&.magenta { background-color: $theme-magenta; }
		&.teal { background-color: $theme-teal; }
		&.pink { background-color: $theme-pink; }
		&.gray { background-color: $theme-gray; }
	}

	&.text {
		&.blue * { color: $theme-blue; }
		&.yellow * { color: $theme-yellow; }
		&.green * { color: $theme-green; }
		&.orange * { color: $theme-orange; }
		&.magenta * { color: $theme-magenta; }
		&.teal * { color: $theme-teal; }
		&.pink * { color: $theme-pink; }
		&.gray * { color: $theme-gray; }
	}
}

.align-left,
.align-right {
	margin-bottom: 1em;

	@include small {
		display: block;
		margin: 0 auto 1em;
	}
}

@include large() {
	.align-left {
		float: left;
		margin-right: 1em;
	}

	.align-right {
		float: right;
		margin-left: 1em;
	}
}
